<!doctype html>
<html>
<head>
<title> register </title>
<head>
<body>
 <div align="center">
 <div>
   <h1> Register </h1>
    </div></br></br>
  <div>
     <form action="{{ url_for(register)}}" method="post" autocomplete="off">
  
  <div class="msg"> {{ msg }} </div>
  <input type="text" name="username" placeholder="enter your username" class="texbox" id="username" required></br></br>
  <input type="password" name="password" placeholder="enter your password" class="textbox" id="password" required></br></br>
  <input type="text" name="email" placeholder="enter your email" class="textbox" id="email" required> </br></br>
  <input type="text" name="city" placeholder="enter your city" class="textbox' id="city" reqired></br></br>
  <input type="submit" class="btn" value="Register">
   </form>
  <p>Alredy have account? <a href="{{ url_for(login)}}">Login here </a></p>
</div>
</div>
</body>
</html>
